*{padding: 0;
text-align: center;
}

body{ background-image: url(img/fondo.jpg);
    background-size: cover;}

#trabajos{list-style: none;}

header{margin-bottom: 50px;
margin-top: 50px;}
h1{color:aliceblue;
font-family:monospace;}

h3{color:white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.Actividad{ border: 2px pink solid;
background-color: pink;
width: 600px;
height: 50px;
margin-top: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
color:mediumpurple;}

.Actividad:hover{color:blueviolet}

li{ margin-top: 50px;
margin-bottom: 50px;}