*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

header{width: 90%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-image: url('img/Fondo.jpg');
    margin-top: 70px;}

h1{font-family: 'Ballet', sans-serif;
    color: black;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-style: italic;}

.texto{ display: flex;
width: 70%;
height: 250px;
justify-content: center;
box-sizing: border-box;
text-align: center;
margin-left: 225px;
margin-top: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.contenedor{ display: flex;
box-sizing: border-box;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-left: 25px;
margin-right: 25px;
}

.contenedor div{
    border: 5px blue solid;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: center;}

h3{font-family: 'Ballet', sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;}


.contenedor div:hover{ border: 5px yellow solid;
box-shadow: 10px 10px 10px yellow;}

h3:hover{color: orange;}

