*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

h1{
font-family: 'Ballet', sans-serif;
color: rgb(23, 106, 64);
text-align: center;
margin-top: 100px;
font-size: 50px;
font-style: italic;
}

h1:hover{ color: lawngreen;}

h1:visited{ color:rgb(23, 106, 64);}

.cont{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;}

.cont img{margin: 10px;}

.cont img:hover{ filter:brightness(75%);}

.texto{
justify-content: center;
display: flex;
justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
width: 70%;
height: 250px;
box-sizing: border-box;
text-align: center;
margin-top: 50px;
}

section{
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

section img{
  filter: saturate(45%);
}

section img:hover{
  filter: saturate(100%);
  box-shadow: 10px 10px 10px red;
}
