*{margin: 0 auto;
padding: 0;
box-sizing: border-box;}

.contenedor{ display: flex; 
    width: 90vw; 
    height: 100vh; 
    border: 1px gray solid; 
    justify-content: center;}

.nombre{ background-color: fuchsia;
padding: 5px;
margin: 15px;}