*{box-sizing: border-box;
padding: 0 auto;
text-align: center;}

.contenedor{ display: flex;
    flex-direction: row;
justify-content: center;
margin-top: 200px;}


.naranja{background-color: orange; width: 200px;height: 200px;}
.amarillo{background-color: yellow; flex-grow: 2;width: 200px;height: 200px;}
.turquesa{ background-color: turquoise; flex-shrink: 15;width: 200px;height: 200px;}
.clein{background-color: blue; flex-grow: 1;width: 200px;height: 200px;}
.azul{ background-color:mediumblue;width: 200px;height: 200px;}
.marino{ background-color: darkblue;width: 200px;height: 200px;}

.lista{display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;}

.lista div{ padding-left: 30px;}

a:link{color: greenyellow;}

a:visited{color: blueviolet;}

a:hover{color: red;}

p{font-family:'Times New Roman', Times, serif; font-size: 40px ;}


