*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: bisque;
text-align: center;}

header{padding-top: 30px;
padding-bottom: 50px;
color:cornflowerblue;
letter-spacing: 10px;}

h2{margin-top: 50px;
margin-bottom: 25px;
color:darkseagreen;}

section{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;}

img{padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;}

img:hover{filter: blur(10px);}

footer{margin-bottom: 30px;
margin-top: 20px;
border: 1px rgb(142, 142, 241) solid;
width: 600px;
margin-left: 450px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-top: 10px;}

