*{font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
box-sizing: border-box;}

body{border:2px red dashed;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;}

section{ flex-wrap: wrap;
display: flex;
justify-content: center;}

h1{letter-spacing: 5px;
color: green;
font-size: 100px;
margin-top: 50px;
margin-bottom: 25px;}

h1:hover{color: red;}

.M{ width: 400px;
height: 200px;
border: 2px red solid;
margin: 8px;}

.contenedor1{background: linear-gradient(to bottom, red, green, white);}

.contenedor2{background: linear-gradient(45deg, white 0% , red 20% 90%, rgb(255, 255, 255) 100%);}

.contenedor3{background: linear-gradient(to right, green, white);}

.contenedor4{background: linear-gradient(to bottom, green 15%, red 25% 95%);}

.contenedor5{background: linear-gradient(45deg, green 0% 40%, red 40% 70%, white 70% 100%);}

.contenedor6{ background: linear-gradient(to right, green, white, red, green, white, red, green);}

h2{ color: white;
margin-top: 70px;}
p{margin-top: 30px;}

.texto{border: 2px green solid;
padding-left: 300px;
padding-right: 300px;
padding-bottom: 20px;
padding-top: 20px;
margin-bottom: 20px;
margin-top: 20px;}

.texto:hover{background: linear-gradient(to top, green, red); 
color: white;}